/* .OptionChain {
  display: inline-flex;
}

#chain-option {
  display: inline-flex;
} */

#div-back-button {
  display: block;
  /* width: 100%; */
  /* min-width: 100%; */
  margin: 0em 0em 1em 0em;
  /* border: solid black; */
  height: 3em;
  position: sticky;
}

#back-button {
  /* display: block; */
  /* float: right; */
  margin: 0.2em 0.2em 0em 0em;
  padding: 0em 0.2em 0em 0.2em;
  /* border: solid black; */
  float: right;
  position: sticky;
}

#chain-headers {
  display: flex;
  position: sticky;
  justify-content: space-around;
  margin: 0em 0em 1em 0em;
}

.chain-headers {
  font-weight: bold;
}

.chain-headers.description {
  min-width: 17em;
}

.chain-headers.bid {
  min-width: 5em;
}

.chain-headers.ask {
  min-width: 5em;
}

.chain-headers.strike {
  min-width: 5em;
}

.chain-headers.cont-size {
  min-width: 7em;
}

.chain-headers.exp-date {
  min-width: 8em;
}

.chain-headers.type {
  min-width: 5em;
}

.chain-headers.buttons {
  min-width: 2em;
  color: white;
}

#the-actual-chain {
  overflow: scroll;
  height: 22em;
  margin: 0em 0em 1em 0em;
}

#chain-option {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}

.chain-info.description {
  min-width: 18.5em;
}

.chain-info.bid {
  min-width: 5em;
}

.chain-info.ask {
  min-width: 5em;
}

.chain-info.strike {
  min-width: 7em;
}

.chain-info.cont-size {
  min-width: 5em;
}

.chain-info.exp-date {
  min-width: 8em;
}

.chain-info.type {
  min-width: 4em;
}

.chain-info.small-buttons {
  min-width: 2em;
}

.chain-info {
  display: flex;
}

#to-wl-button {
  background-color: rgb(87, 12, 207);
  font-size: 0.8em;
  height: 2em;
  margin: 0em 0.1em 0.3em 0.1em;
  align-items: center;
}

#to-pf-button {
  background-color: rgb(11, 224, 160);
  font-size: 0.8em;
  height: 2em;
  align-items: center;
  margin: 0em 0.1em 0.3em 0.1em;
}

#graph {
  margin: 1em 0em 0em 0em;
  height: 18em;
}
