#user-component {
  float: left;
  width: 48%;
  height: 49em;
  margin: 0em 0em 0em 1em;
  overflow: scroll;
  /* border: solid rgb(11, 224, 160); */
  border: solid rgb(87, 12, 207);
}

#market-component {
  float: right;
  width: 48%;
  height: 49em;
  margin: 0em 1em 0em 0em;
  overflow: scroll;
  border: solid rgb(11, 224, 160);
}

button {
  color: white;
  border: none;
  border-radius: 4px;
  text-align: center;
  background-color: rgb(87, 12, 207);
  margin: 0em 0.2em 2em 0em;
  padding: 0.2em 0.4em 0.2em 0.4em;
  font-size: 30px;
}
