#portfolio-headers {
  display: flex;
  position: sticky;
  justify-content: space-around;
  margin: 1em 0em 2em 0em;
}

.portfolio-headers {
  font-weight: bold;
}

#the-actual-portfolio {
  /* display: flex; */
  display: flex;
  justify-content: space-around;
  /* overflow: scroll; */
  /* height: 22em; */
  margin: 0em 0em 1em 0em;
}

.portfolio-options.description {
  /* min-width: 1.5em;
  max-width: 1.5em; */
}

.portfolio-options.type {
  min-width: 1em;
  max-width: 1em;
}

.portfolio-options.bid {
  /* min-width: 0.9em; */
  min-width: 0.8em;
  max-width: 0.8em;
}

.portfolio-options.ask {
  /* min-width: 1em; */
  /* max-width: 0.2em; */
}

.portfolio-options.buy-price {
  /* min-width: 3em;
  max-width: 3em; */
}

.portfolio-options.strike {
  /* min-width: 1.2em;
  max-width: 1em; */
}

.portfolio-options.exp-date {
  /* min-width: 6em;
  max-width: 6em; */
}

.portfolio-options.money {
  /* width: 1.5em; */
}

.portfolio-options.p-l {
  /* width: 1em; */
}

.portfolio-options.sell {
  /* width: 1.8em;
  font-size: 0.8em; */
}

.portfolio-options.sell-button {
  /* width: 3em; */
  font-size: 0.8em;
}
