.Email {
  display: inline-flex;
  padding: 0.7em 0em 0em 0em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#email-box {
  /* display: inline-flex; */
  font-weight: bold;
  padding: 0em 0em 0em 0em;
}
