.WatchlistOption {
  display: inline-flex;
  margin: 1em 0em 0em 0em;
  /* border: solid rgb(11, 224, 160); */
  font-size: 1.5em;
  font-weight: bold;
}

#the-description {
  display: inline-flex;
  /* float: left; */
  margin-right: 10em;
}

#the-buttons {
  display: inline-flex;
  /* float: right; */
}

#wl-to-pf-button {
  margin: 0em 0em 0em 1em;
  font-size: 0.6em;
  padding: 0em 0.5em 0em 0.7em;
  /* float: right; */
}

#remove-from-wl-button {
  margin: 0em 0em 0em 1em;
  font-size: 0.6em;
  padding: 0em 0.5em 0em 0.7em;
  /* float: right; */
}
