#watchlist-option {
  margin: 0em 0em 0em 0em;
}

#symbol {
  display: inline-flex;
}

#space {
  display: inline-flex;
}

#description {
  display: inline-flex;
  margin: 0em 0em 0em 0em;
  border: solid rgb(11, 224, 160);
}