#pf-wl-title {
  color: rgb(87, 12, 207);
  margin: 0em 0em 0em 0em;
  display: block;
  position: sticky;
}

#wl-or-pf {
  /* display: block; */
  display: grid;
  grid-template-columns: auto;
  overflow: scroll;
}

/* .portfolio-headers.exp-date {
  min-width: 5em;
} */
